@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

body{
    display: flex;
    background-color: #addefe;
    width: 100vw;
    height: 100vh;
    justify-content: center;/* alianha na horizontal*/
    align-items: center; /* alianha na vertical*/
    flex-direction: column;
}
img.img_tenis{
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

footer{
    padding: 40px;
}

