@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}
                          
    
img.img_tenis{
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

footer{
    padding: 40px;
}

body{
    background-image: linear-gradient(to right, rgb(255, 47, 10), rgb(171, 144, 10));
    display: flex;
    justify-content: center;/* alianha na horizontal*/
    align-items: center; /* alianha na vertical*/
    height: 100vh;
    width: 100vw;                           
    
}
form{
    background-color: aliceblue;
    border-radius: 10px;
    height: 400px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-conteudo{
    font-size: 24px;
    margin: 20px;
    text-align: left;
    width: 70%;
}

.nome-conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.nome-conteudo input{
    border-radius: 20px;
    height: 30px;
}


.password-conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.password-conteudo input{
    border-radius: 20px;
    height: 30px;
}

.botoa-conteudo{
    width: 70%;
    padding: 20px;
}

button{
  width: 100%;
  background-image: linear-gradient(to right, red,orange);
  color: aliceblue;
  height: 30px;
  border-radius: 10px;
  border-style:none ;
}